
.scenariosLinks {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
 
}
.letterLink {
  color: white;
  font-size: 50px;
  text-decoration: none;
} 
.linkStyles {
  text-decoration: none;
}
.linkContainer {
  height: 80px;
  border: 5px solid #cccccc;
  border-radius: 20px;
  padding: 20px 30px;
  transition: 0.3s;
}
.linkContainer:hover {
  transform: scale(1.3);
  border: 15px solid #cccccc;
}
.linkContainer:hover {
  background-color: #00E5FF;
}
.colorLinkDeportes {
  background-color: #60A123;
}
.colorLinkComida {
  background-color: #E3AC36;
}
.colorLinkProfesiones {
  background-color: #97008E;
}
.buttonBack {
  width: 200px;
  transition: 0.3s;
}
.buttonBack:hover {
  transform: scale(1.1);
}
