.homeContainer {
  padding: 0;
  margin: 0;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.title {
  text-transform: uppercase;
  font-size: 60px;
}
.buttonStart {
  width: 200px;
  transition: 0.3s;
}
.buttonStart:hover {
  transform: scale(1.1);
}