.matchingGameContainer {
  min-height: 85vh;
}

.containerCardsMatch {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.containerCardsImages {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.containerCardsWords {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
#score {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 90%;
  font-size: 20px;
  margin-bottom: 20px;
}
.counterScore {
  font-size: 30px;
}
.starScore {
  width: 50px;
  margin-bottom: 10px;
}
.buttonReplay {
  background-color: transparent;
  border: none;
}
.buttonReplay img {
  width: 70px;
  cursor: pointer;
}
/*  Card Match */

.selectedCard {
  background-color: yellowgreen;
}

.cardMatch {
  width: 150px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid yellowgreen;
  transition: 0.3s;
}
@media (min-width: 600px) {
  .cardMatch {
    width: 200px;
    height: 100px;
  }
}
.cardMatch:hover {
  scale: 1.1;
  background-color: yellowgreen;
}
.imageCardMatch {
  width: 140px;
  border-radius: 10px;
  border: 1px solid yellowgreen;
}
@media (min-width: 600px) {
  .imageCardMatch {
    width: 180px;
  }
}
.imageCardMatch:hover {
  border: 2px solid rgb(0, 29, 0);
}

/* Card Word */

.cardWord {
  background-color: rgb(0, 99, 0);
  width: 120px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid yellowgreen;
  cursor: pointer;
  transition: 0.3s;
  height: 40px;
  font-size: 18px;
  color: white;
}

@media (min-width: 600px) {
  .cardWord {
    width: 150px;
    height: 60px;
  }
}
.cardWord:hover {
  background-color: yellowgreen;
  color: black;
}

.selectedWord {
  background-color: yellowgreen;
}
