.containerCardsMatch {
  height: 80vh;
  margin: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-column-gap: 20px; */
  /* justify-content: center; */
}
.containerCardsImages {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(5, 120px);
  grid-column-gap: 20px;
}
.containerCardsWords {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(5, 75px);
  grid-column-gap: 20px;
}
#score {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 90%;
  font-size: 20px;
}
.counterScore {
  font-size: 30px;
}
.starScore {
  width: 50px;
  margin-bottom: 10px;
}