.cardMatch {
  /* margin: 20px; */
  background-color: green;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid yellowgreen;
  transition: 0.3s;
}
.cardMatch:hover {
  scale: 1.1;
  background-color: yellowgreen;
}
.imageCardMatch {
  width: 180px;
  border-radius: 10px;
  border: 1px solid yellowgreen;
}
.imageCardMatch:hover {
  border: 2px solid rgb(0, 29, 0);
}